.myButton {
    width: 10px;
    height: 36px;
    left: 526px;
    top: 825px;
    display: inline-flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: none;
    background: var(--Primery-Color-Blue, #407bff);
    box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);
    color: white;
}