.modal {
  height: 100vh;
  width: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 10px;
  left: ();
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}
.modal__content {
  padding: 0 24px;
  border-radius: 12px;
  background-color: #fff;
  width: 592px;
  height: 504px;
  transform: scale(0.5);
  transition: 0.4s all;
}

.modal__content.active {
  transform: scale(1);
}

.add-water {
  padding-top: 32px;
  margin-bottom: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-modal {
  width: 24px;
  height: 24px;
}

.value {
  height: 316px;
  display: flex;
  flex-direction: column;
}

.choose {
  margin-bottom: 16px;
}
