:root {
  --whitePrimari: #fff;
  --blackPrimari: #2f2f2f;
  --accentPrimari: #407bff;
  --lightGreySecondary: #ecf2ff;
  --redSecondary: #ef5050;
  --blueSecondary: #9ebbff;
  --yelowSecondary: #ff9d43;
  --lightBlueSecondary: #d7e3ff;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Scrollbar */

::-webkit-scrollbar,
scrollbar {
  width: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

::-webkit-scrollbar-track,
scrollbar-track {
  background-color: var(--lightBlueSecondary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb,
scrollbar-thumb {
  background-color: var(--blueSecondary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active,
scrollbar-thumb:active {
  background-color: var(--blueSecondary);
}

scrollbar-thumb {
  border-radius: 10px;
  border-radius: 10px;
}

scrollbar-track {
  border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background-color: var(--lightBlueSecondary);
}
